---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async() => {
  const pages = await getCollection('pages')
  return pages.map(entry => {
    console.log(entry.slug === 'index'
          ? undefined
          : entry.slug)
    return {
      params: {
        slug: entry.slug === 'index'
          ? undefined
          : entry.slug
      },
      props: {
        entry
      }
    }
});
}) satisfies GetStaticPaths;

const { entry } = Astro.props

const { Content } = await entry.render()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bug</title>
  </head>
  <body>
    <Content />
  </body>
</html>
